body {
    background-color: whitesmoke;
    font-size: 24px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.container > header {
    padding: 20px;
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: space-between;
}


nav a {
    margin-left: 16px;
    color: whitesmoke;
    text-decoration: none;
}

section {
    padding: 20px;
    font-size: 32px;
    line-height: 150%;
}

.about-detail{
    display: flex;
    align-items: flex-start;
}
.about-detail img{
    margin-right: 16px;
    margin-bottom: 16px;
}

#project {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 50%;
    padding: 20px;
}

article img {
    width: 100%;
}

.featured {
    width: 100%;
}

footer {
    padding: 20px;
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: flex-end;
}

footer a {
    margin-left: 16px;
    color: whitesmoke;
    text-decoration: none;
}
