body {
    background-color:black;
    font-size: 24px;
    color:azure;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
    border-bottom: deepskyblue;
    padding-bottom: 20px;
}

h3 {
    border-style: solid;
    border-color:darkorchid;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.container > header {
    padding: 20px;
    background-color:deepskyblue;
    color: azure;
    display: flex;
    justify-content: space-between;
}


nav a {
    margin-left: 16px;
    color: azure;
    text-decoration: none;
    font-size: 24px;
    line-height: 150%;
}

nav a:hover {
    text-decoration: underline;
    color: azure;
}

section {
    padding: 20px;
    font-size: 32px;
    line-height: 150%;
}

p {
    margin-bottom: 40px;
}

.about-detail{
    display: flex;
    align-items: flex-start;
    
}
.about-detail img{
    margin-right: 16px;
    margin-bottom: 16px;
}

#project {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 50%;
    padding: 20px;
}

article img {
    width: 100%;
}

.featured {
    width: 100%;
}

footer {
    padding: 20px;
    background-color:deepskyblue;
    color: azure;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

footer a {
    margin-left: 16px;
    color: azure;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: azure;
}

@media screen and (max-width:768px){
    body,p {
        font-size: 16px;
        line-height:150%;
    }

    header{
        display: flex;
        flex-direction: column;
    }
   
    nav a:first-of-type {
        margin-left: 0;
    }

    .about-detail {
        flex-direction: column;
        align-items: center;
    }

    #work {
        flex-direction: column;
   }

   #work article {
    width: 100%;
   }
}