body {
    background-color: whitesmoke;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.container > header {
    padding: 20px;
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: space-between;
}


nav a {
    margin-left: 16px;
    color: whitesmoke;
    text-decoration: none;
}

section {
    padding: 20px;
    font-size: 32px;
    line-height: 150%;
}

#project {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 50%;
    padding: 20px;
}

article img {
    width: 100%;
}

.featured {
    width: 100%;
}